<div class="row" style="margin-bottom : 5%">

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="#"><img id="logo"src="../../assets/societe-generale-logo.png" alt="societe-generale-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     </div>
  </nav>
</div>

<div class="row">
<div class="col-md-3">
  <app-menu></app-menu>
</div>

<div class="col-md-9">
 <router-outlet></router-outlet>
</div>
</div>